<app-header (searchInput)="searchProduct($event)"></app-header>

<div class="count-result">
  {{countResult}} PRODUTO(S) ENCONTRADO(S) 
</div>

<div class="list-result">
  <div class="item-prod" *ngFor="let item of listProducts">
    <div><img [src]="item.img"></div>
    <div class="title">{{item.title}}</div>
    <div class="oldPrince">De: <span>{{item.price | currentformat}}</span></div>
    <div class="sPrice">Por: {{item.sPrice | currentformat}}</div>
  </div>
  
  <app-message-list [message]="messageResult"></app-message-list>
</div>